@model IEnumerable<ProjetImmoLib.customers>

@{
    ViewBag.Title = "ListCustomers";
}

@using (Html.BeginForm())
{
    <b>Recherche par Nom:</b> @Html.TextBox("search")
    <input type="submit" name="submit" value="search" />
}

<h2>ListCustomers</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budget)
            </td>
            <td>
                @Html.ActionLink("Profil", "ProfilCustomer", new { id = item.idCustomer })
            </td>
            <td>
                @Html.ActionLink("Supprimer", "DeleteCustomer", new { id = item.idCustomer })
            </td>
        </tr>
    }
</table>