@using PagedList;

@using PagedList.Mvc;

@model IPagedList<ProjetImmoLib.customers>

@{
    ViewBag.Title = "ListCustomers";
}

@using (Html.BeginForm())
{
    <b>Recherche par Nom:</b> @Html.TextBox("search")
    <input type="submit" name="submit" value="search" />
}

<h2>ListCustomers</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("lastname")
        </th>
        <th>
            @Html.Label("firstname")
        </th>
        <th>
            @Html.Label("mail")
        </th>
        <th>
            @Html.Label("phonenumber")
        </th>
        <th>
            @Html.Label("budget")
        </th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                @Model[i].lastname
            </td>
            <td>
                @Model[i].firstname
            </td>
            <td>
                @Model[i].mail
            </td>
            <td>
                @Model[i].phonenumber
            </td>
            <td>
                @Model[i].budget
            </td>
            <td>
                @Html.ActionLink("Profil", "ProfilCustomer", new { @Model[i].idCustomer })
            </td>
            <td>
                @Html.ActionLink("Supprimer", "DeleteCustomer", new { @Model[i].idCustomer })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("ListCustomers", new { pageNumber }))